<div class="container-fluid rewards">
    <div class="container rewards-inner">
      <div class="space-outer">
          <div class="space-inner">
          </div>
       </div>
       <div class="hero-reward">
          <div class="heading-sec">
             <h1>More Rewards. Not More Rules. Bonus Rewards Card.</h1>
             
                <div class="bonus-left">
                </div>
                <div class="bonus-right">
                   <h3>2,500 bonus rewards points</h3>
                   <h5>after your first purchase</h5>
                   <p>There's nothing  to sign up for, nothing to choose, and no caps or limits on points you can earn.</p>
                </div>
             
             <div class="apply-but">
                <button class="btn-success">Apply now</button>
             </div>
          </div>
       </div>
       <div class="col-xl-12 col-md-12 reward-points">
          <div class="row reward-row">
             <div class="col-xl-4 col-md-4 bonus-points">
                <h3>25% bonus</h3>
                <p>on all points earned every month, automatically.</p>
             </div>
             <div class="col-xl-4 col-md-4 bonus-points">
                <h3>No Caps or Limits</h3>
                <p>on the points you can earn, plus you have five years to redeem points for rewards<sup>2</sup></p>
             </div>
             <div class="col-xl-4 col-md-4 bonus-points">
                <h3>Chip-Enhanced Security</h3>
                <p>gives you the protection you need to feel confident wherever you make purchases.</p>
             </div>
          </div>
       </div>
       <div class="col-xl-12 col-md-12 bonus-reward-cards">
          <h2>Find out more about the Bonus Rewards Card</h2>
          <div class="row">
             <div class="col-xl-6 col-md-6">
                <h5>Rewards Program</h5>
                <ul>
                   <li>Earn 1 point for every eligible net $1 you spend.</li>
                   <li>Get a 25% bonus on all points earned every month, automatically.</li>
                   <li>No caps or limits on the points you can earn, plus you have five years to redeem points for rewards2</li>
                   <li>2,500 bonus rewards points awarded after first purchase3, redeemable for $25 cash back, merchandise, gift cards or travel savings.</li>
                   <li>Redemption starts at 2,500 points for $25 cash back, or redeem 25,000 points for round-trip airfare up to $325.</li>
                </ul>
                <h5>Annual Fee</h5>
                <p>No Annual Fee</p>
             </div>
             <div class="col-xl-6 col-md-6">
                <h5>Purchase APR</h5>
                <p>After that, a variable APR, currently 13.24% to 24.24%.* See the Terms and Conditions for complete details.</p>
                <h5>Cardmember Benefits</h5>
                <p>Enjoy chip-enhanced acceptance and security plus a variety of important features, 
                   including zero fraud liability4 and auto rental collision damage waiver. See Consumer
                   Card Features and Benefits for a complete listing of all card benefits.
                </p>
                <h5>Minimum Requirements</h5>
                <p>Applicant must be 18 years of age and have a U.S. address and Social Security number.</p>
             </div>
          </div>
       </div>
       <div class="frequent-questions">
          <a (click)="showDiv=!showDiv">
          <i class="fa" [ngClass]="showDiv ? 'fa-sort-down' : 'fa-caret-right'"></i>
          <span>Frequently Asked Questions</span>
          </a>
          <div class="frequent-questions-inner" *ngIf="showDiv">
             <div class="questions-data">
                <h5>Earn 1 point for every eligible net $1 you spend.</h5>
                <p>Each month you will earn 1 point per net dollar spent on all your
                   purchases. In addition, every month you will automatically receive 
                   a bonus equal to 25% of the total points you earned in that month from
                   your net purchases. So, in total, you will earn 1.25 points for your net purchases,
                   and you'll see the bonus portion of your monthly points total displayed separately 
                   in the rewards section of your monthly statement.
                </p>
             </div>
             <div class="questions-data">
                <h5>Earn 1 point for every eligible net $1 you spend.</h5>
                <p>Each month you will earn 1 point per net dollar spent on all your
                   purchases. In addition, every month you will automatically receive 
                   a bonus equal to 25% of the total points you earned in that month from
                   your net purchases. So, in total, you will earn 1.25 points for your net purchases,
                   and you'll see the bonus portion of your monthly points total displayed separately 
                   in the rewards section of your monthly statement.
                </p>
             </div>
             <div class="questions-data">
                <h5>Earn 1 point for every eligible net $1 you spend.</h5>
                <p>Each month you will earn 1 point per net dollar spent on all your
                   purchases. In addition, every month you will automatically receive 
                   a bonus equal to 25% of the total points you earned in that month from
                   your net purchases. So, in total, you will earn 1.25 points for your net purchases,
                   and you'll see the bonus portion of your monthly points total displayed separately 
                   in the rewards section of your monthly statement.
                </p>
             </div>
             <div class="questions-data">
                <h5>Earn 1 point for every eligible net $1 you spend.</h5>
                <p>Each month you will earn 1 point per net dollar spent on all your
                   purchases. In addition, every month you will automatically receive 
                   a bonus equal to 25% of the total points you earned in that month from
                   your net purchases. So, in total, you will earn 1.25 points for your net purchases,
                   and you'll see the bonus portion of your monthly points total displayed separately 
                   in the rewards section of your monthly statement.
                </p>
             </div>
          </div>
       </div>
    </div>
    <div class="footer">
        <div class="container">
          <p>Copyright 2018.All Rights Reserved</p>
        </div>
    </div>
 </div>